.doc-header {
  background-color: #335177;
  padding: 15px;
  color: #fff;
  img {
    width: 120px;
    margin-top: -3px;
  }
  a {
    color: #eee;
  }
}

.mcc-content-max {
  max-width: 1200px;
  margin: 0 auto;
}
